


{% extends 'base.html' %} 
{% block title %} Portfolio{% endblock title %}

{% block body %}

    
     

      
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
  
          <div class="section-title">
            <h2>Projects</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">1.Using Python Django Framework, we must check language detection, non-linguistic checks and align segment.</a></h4>
              <p class="description">1.Create a Django project for identifying the language detection for Source and Target Language.</p>
              <p class="description">2.For non-linguistic checks, I utilized a regex pattern for multiple languages.</p>
              <p class="description">3.For Edit Distance against machine translation (MT), I utilized modules such as Google Translate.</p>
              <p class="description">4.Employed Django UI Editor for displaying the source and target segments.</p>
              <p class="description">5.The output is generated in an Xlsx file.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">2.Text to speech (TTS).</a></h4>
              <p class="description">1.Developed end-to-end Text-to-Speech models by collecting datasets, preprocessing data the audio files and transcription.</p>
              <p class="description">2.Pre-Processing like chunk audio files, remove noise and set the sample rate for mono audio.</p>
              <p class="description">3.Developed scripts specifically for training Text-to-Speech models using the VITS architecture.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">3.Software Internalization (Integrate Third party tool by using API key).</a></h4>
              <p class="description">1.Develop a web-based application for Memsource automation.</p>
              <p class="description">2.Implement API authentication using an API key for the Memsource tool.</p>
              <p class="description">3.I will be able to Integrate Third party tools like (GitHub, GitLab etc.) with CAT tool like Memsource to automate localization process like (Automatically project gets created, job created, once translation complete file gets delivered to the same repository, which makes Localization Project management tasks easy).</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">4.Portfolio Website</a></h4>
              <p class="description">1.Developed an end-to-end web-based application for a portfolio website.</p>
              <p class="description">2.Implemented features for showcasing user information such as personal details, resume, and projects.</p>
              <p class="description">3.Integrated user authentication functionalities including sign up, login, and logout mechanisms.
              </p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">5.1.Automation script</a></h4>
              <p class="description">Create python automation script on File handling for multiple file types.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">5.2.Automation script</a></h4>
              <p class="description">Create python automation script on web scraping by using request and Beautiful Soup.</p>
            </div>
          </div>
  
        </div>
      </section><!-- End Services Section -->
  

      {% endblock body %}